<?xml version="1.0"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro"  >


    <xacro:property name="laser_box_length" value="0.5"/>
    <xacro:property name="laser_box_width" value="0.32"/>
    <xacro:property name="laser_box_height" value="0.2"/>

    <xacro:property name="laser_radius" value="0.07"/>
    <xacro:property name="laser_width" value="0.025"/>
    <xacro:property name="laser_mass" value="0.1"/>
    

    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="${laser_radius}" length="${laser_width}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <cylinder radius="${laser_radius}" length="${laser_width}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="${laser_radius}" length="${laser_width}"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertia m="${laser_mass}" r="${laser_radius}" h="${laser_width}" 
                                xyz="0 0 0" rpy="0 0 0"/>
    </link>
    
    <joint name="base_laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.08 0 0.21" rpy="0 0 0"/> 
    </joint>
    
    <!--
    <gazebo reference="laser_frame">
        <material>Gazebo/Red</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.5</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>
    -->
    
    



</robot>
